<div class="loading-shade" *ngIf="dataSource.loading$ | async">
  <mat-progress-bar
    *ngIf="dataSource.loading$ | async"
    mode="indeterminate"
  ></mat-progress-bar>
</div>

<div class="card-container">
  <mat-form-field class="full-width" style="margin-bottom: 10px">
    <input disabled matInput />
    <button
      mat-stroked-button
      class="btn-primary-outline"
      matSuffix
      (click)="getUpdate()"
      style="margin-left: 8px"
    >
      <span title="Refresh">
        <ion-icon name="refresh"></ion-icon>
      </span>
    </button>
    <a
      mat-flat-button
      color="primary"
      matSuffix
      [routerLink]="['/new/' + kebabCase(doctype)]"
      style="margin-left: 8px"
    >
      Add
    </a>
  </mat-form-field>

  <div class="table-container">
    <table
      mat-table
      class="full-width"
      [dataSource]="dataSource"
      matSort
      (matSortChange)="getUpdate()"
      aria-label="Elements"
    >
      <ng-container
        *ngFor="let col of fields; index as i"
        matColumnDef="{{ col }}"
      >
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header="{{ col }}"
          [hidden]="hideCustomName(col)"
        >
          {{ snakeToTitleCase(col) }}
        </th>
        <td mat-cell *matCellDef="let row" [hidden]="hideCustomName(col)">
          <a
            *ngIf="col == 'name'"
            [routerLink]="['/form/' + kebabCase(doctype) + '/' + row[col]]"
          >
            {{ row[linkLabel] }}
          </a>
          <span *ngIf="col !== 'name' && col !== 'primary_address'">
            {{ row[col] }}
          </span>
          <div
            *ngIf="col !== 'name' && col == 'primary_address'"
            [innerHtml]="row[col] | safeHtml"
          ></div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="fields; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: fields"></tr>
    </table>
  </div>
  <mat-paginator
    #paginator
    (page)="getUpdate($event)"
    [length]="dataSource.length"
    [pageSizeOptions]="[10, 50, 100, 500]"
  >
  </mat-paginator>
</div>
