<!-- <ion-header>
  <ion-toolbar>
    <ion-row class="ion-padding-end">
      <ion-menu-button></ion-menu-button>
      <ion-title>Shop Setup</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-card-header>
            <ion-card-title>Shop Setup</ion-card-title>
            <ion-card-subtitle
              >Your shop details and settings.</ion-card-subtitle
            >
          </ion-card-header>
        </ion-col>
        <ion-col size="8">
          <ion-card-content>
            <form [formGroup]="shopForm">
              <mat-form-field class="full-width" appearance="outline">
                <input
                  matInput
                  type="text"
                  placeholder="Shop Name"
                  formControlName="name"
                />
                <mat-label>Shop Name</mat-label>
              </mat-form-field>

              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="City" formControlName="city" />
                <mat-label>City</mat-label>
              </mat-form-field>
            </form>
            <ion-button color="light" (click)="resetForm()"> Reset </ion-button>
            <ion-button color="primary" (click)="saveShop()"> Save </ion-button>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-card-header>
            <ion-card-title>Account Details</ion-card-title>
            <ion-card-subtitle
              >Your details help us serve you better.</ion-card-subtitle
            >
          </ion-card-header>
        </ion-col>
        <ion-col size="8">
          <ion-card-content>
            <form [formGroup]="accountForm">
              <mat-form-field class="full-width" appearance="outline">
                <input
                  matInput
                  type="text"
                  placeholder="YourName"
                  formControlName="name"
                />
                <mat-label>Your Name</mat-label>
              </mat-form-field>

              <mat-form-field class="full-width" appearance="outline">
                <input
                  matInput
                  type="email"
                  placeholder="Email"
                  formControlName="email"
                />
                <mat-label>Email</mat-label>
              </mat-form-field>

              <mat-form-field class="full-width" appearance="outline">
                <input
                  matInput
                  type="text"
                  placeholder="City"
                  formControlName="phone"
                />
                <mat-label>Phone</mat-label>
              </mat-form-field>
            </form>
            <ion-button color="light" (click)="resetForm()"> Reset </ion-button>
            <ion-button color="primary" (click)="saveAccount()">
              Save
            </ion-button>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content> -->