<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Customers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-data-list doctype="Customer" [fields]="fields" [linkLabel]="linkLabel">
  </app-data-list>
</ion-content>
