<ion-header>
  <ion-toolbar>
    <ion-row class="ion-padding-end">
      <ion-menu-button></ion-menu-button>
      <ion-title>Products</ion-title>
      <!-- <ion-button color="primary" [routerLink]="['/add-products']">
        Add Product
      </ion-button> -->
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background" fxHide.xs fxShow #productsTable>
  <div class="actions float-right">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="removeProducts()">
        <mat-icon>delete</mat-icon>
        <span>Delete Selected Products</span>
      </button>
    </mat-menu>
  </div>
  <mat-table class="mat-elevation-z8 full-width" [dataSource]="dataSource">
    <ng-container matColumnDef="checkbox">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row; let i = index">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- <ng-container matColumnDef="sr_no">
      <mat-header-cell *matHeaderCellDef>Sr No. </mat-header-cell>
      <mat-cell *matCellDef="let row; let i = index">
        {{ i + 1 }}
      </mat-cell>
    </ng-container> -->

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell
        *matCellDef="let row"
        [routerLink]="['/product-details', row.name]"
      >
        <a href="">
          {{ row.product_name }}
        </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="options">
      <mat-header-cell *matHeaderCellDef>Options</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.options }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.category }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tax_group">
      <mat-header-cell *matHeaderCellDef>Tax Group</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.tax_group }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
      <mat-cell *matCellDef="let row"> &#x20B9; {{ row.price }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</ion-content>

<ion-content fxShow.xs fxHide>
  <ion-list>
    <ion-item
      *ngFor="let data of dataSource.data"
      [routerLink]="['/product-details', data.name]"
    >
      <ion-label>
        <h2>
          {{ data.product_name }}
        </h2>
      </ion-label>
      <span slot="end"> &#x20B9; {{ data.price }} </span>
    </ion-item>
  </ion-list>
</ion-content>
