<ion-app>
  <ion-split-pane contentId="main-content" class="general-split-pane">
    <ion-menu contentId="main-content" type="overlay" class="main-menu">
      <ion-header>
        <ion-toolbar>
          <ion-title> POS System </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item
            routerLink="home"
            lines="none"
            routerDirection="root"
            routerLinkActive="active"
          >
            <ion-icon slot="start" name="home-outline"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>

          <ion-item
            routerLink="/customer-list"
            lines="none"
            routerDirection="root"
            routerLinkActive="active"
          >
            <ion-icon slot="start" name="person-outline"></ion-icon>
            <ion-label>Customers</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
