<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loggedIn">
  <ion-row class="full-width dahsboard-card">
    <ion-col size-lg="6" offset-lg="3">
      <ion-card class="welcome-card full-width">
        <ion-item *ngIf="picture;else nopic">
          <ion-avatar class="ion-margin-end">
            <img src="{{ picture }}" alt="" />
          </ion-avatar>
          <ion-card-title>{{ name }}</ion-card-title>
          <ion-card-subtitle style="margin-left: 8px">
            {{ organization }}</ion-card-subtitle
          >
        </ion-item>

        <ng-template #nopic>
          <ion-item>
            <ion-avatar class="ion-margin-end">
              <img _ngcontent-tsw-c172="" src="../assets/alternative.svg" />
            </ion-avatar>
            <ion-card-title>{{ name }}</ion-card-title>
            <ion-card-subtitle style="margin-left: 8px"
              >{{ organization }}</ion-card-subtitle
            >
          </ion-item>
        </ng-template>
        <ion-card-header>
          <ion-card-subtitle style="display: flex; align-items: center"
            ><ion-icon name="mail-outline"></ion-icon>
            <span style="margin-left: 8px">{{ email }}</span></ion-card-subtitle
          >

          <p style="margin-top: 5px">Keep track of Client Bank Accounts</p>
          <mat-chip-list>
            <mat-chip *ngFor="let role of roles" disabled>{{ role }}</mat-chip>
          </mat-chip-list>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>

<ion-content *ngIf="!loggedIn" class="card">
  <div class="center-align">
    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col>
          <ion-icon name="log-in"></ion-icon>
          &nbsp;Please Login to continue
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
