<ion-header>
  <ion-toolbar>
    <ion-row class="ion-padding-end">
      <ion-menu-button></ion-menu-button>
      <ion-title>Customers</ion-title>
      <ion-button color="tertiary">Add Customer</ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <!-- <mat-table class="mat-elevation-z8" [dataSource]="dataSource">
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
      <mat-cell *matCellDef="let row; let i = index">
        {{ row.phone }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.name }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="order_count">
      <mat-header-cell *matHeaderCellDef>Order Count</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.order_count }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="order_value">
      <mat-header-cell *matHeaderCellDef>Order Value</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.order_value }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table> -->
</ion-content>
