<ion-header>
  <ion-toolbar>
    <ion-row class="ion-padding-end">
      <ion-buttons>
        <ion-button (click)="navigateBack()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{ product?.product_name }}</ion-title>
      <ion-button (click)="saveProduct()">Save</ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Product Details</ion-card-title>
      <ion-card-subtitle
        >Edit your product details here. Product name should be
        unique.</ion-card-subtitle
      >
    </ion-card-header>

    <div style="text-align: end;">
      <button mat-icon-button (click)="removeProduct()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <ion-card-content>
      <form [formGroup]="productForm">
        <mat-form-field class="full-width" appearance="outline">
          <input
            matInput
            type="text"
            placeholder="Product Name"
            formControlName="name"
          />
          <mat-label>Product Name</mat-label>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <input
            matInput
            placeholder="Product Category"
            formControlName="category"
          />
          <mat-label>Product Category</mat-label>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <input matInput placeholder="Tax Group" formControlName="tax_group" />
          <mat-label>Tax Group</mat-label>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <input matInput placeholder="Price" formControlName="price" />
          <mat-label>Price</mat-label>
        </mat-form-field>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
